
body{
    background-image: url("./images/jungle.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

    h1{
        text-align: center;
        color:white;
    }


.monlogin{
    
display:flex;
flex-direction: column;
height:200px;
background-color: rgb(22, 155, 148);
 width:400px;
 margin:auto;
 padding: auto;
 text-align:left;
 padding:20px;
 border-radius: 15px;
 
    
}

input{
display:inline-block;
margin-bottom: 30px;
margin-top:15px ;
height:30px

}

.connexion{
    display:inline-block;
    width:100px;
    margin:auto;
}
