body{
    background-image: url("./images/costa.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color:white;
    text-align: center;

  
}

h1{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 50px;
    text-transform:uppercase;
    background-color: rgba(19, 36, 19, 0.5);
   

}
a{
    text-decoration: none;
    color:rgb(8, 34, 34);
    background-color: rgba(19, 36, 19, 0.5);
    color:white;
    padding:10px;
    border-radius: 15px;
}